body{
    background-color: rgb(255, 255, 255);
    font-family: 'Changa One', cursive;
}
.cabecalho {
    background-color: rgb(28, 122, 185);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: baseline;
    padding: auto;
    margin: 10px;
}

.escola {
    background-color: rgb(97, 177, 231);
    color: rgb(0, 0, 0);
    display: block;
    justify-content: baseline;
    padding: auto;
    margin: 10px;
}
    
#logoalura {
    width: 20%; 
}

.lista-itens {
    display: inline-block;
    margin: 0% 16px;
    padding: 0 16px;
    font-size: 24px;
}
    
#programa {
        width: auto;
}